<?xml version="1.0"?>
<launch>
  <!-- Exploration -->
  <node pkg="kuri_mbzirc_challenge_2_exploration" type="box_location" name="box_location" args="" output="screen"/>

  <!-- Panel detection -->
  <include file="$(find kuri_mbzirc_challenge_2_panel_detection)/launch/ar_pose_single_kinect_husky.launch" />
  <node pkg="kuri_mbzirc_challenge_2_panel_detection" type="circumnavigation_waypoints" name="circumnavigation_waypoints" args="" output="screen"/>
  <node pkg="kuri_mbzirc_challenge_2_panel_detection" type="panel_waypoint.py" name="panel_waypoint" output="screen"/>
</launch>
