<?xml version="1.0"?>

<launch>
  <env name="HUSKY_KINECT_RPY" value="0 0 1.2"/>

  <arg name="robot_initial_pose" value="-x 6.5  -y 3.2 -z 0.1 -Y 2.05" />
    
  <arg name="laser_enabled" default="false"/>
  <arg name="kinect_enabled" default="true"/>
  <arg name="velodyne_enabled" default="true"/>
  <arg name="ur5_enabled" default="true"/>
  <arg name="gripper_enabled" default="false"/>



  <include file="$(find kuri_mbzirc_sim)/launch/mbzirc_arena_2.launch" >
    <arg name="paused"   value="false"/>
    <arg name="debug"    value="false"/>
    <arg name="gui"      value="true" />
    <arg name="headless" value="false"/>
  </include>

  <include file="$(find kuri_mbzirc_sim)/launch/spawn_husky.launch">
    <arg name="husky_gazebo_description" value="$(find kuri_mbzirc_sim)/urdf/description.gazebo.xacro"/>
    <arg name="robot_initial_pose" value="$(arg robot_initial_pose)"/>

    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="velodyne_enabled" default="$(arg velodyne_enabled)"/>
    <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
    <arg name="gripper_enabled" value="$(arg gripper_enabled)"/>
  </include>
  
  <!--- Run Move Base -->  
  <include file="$(find husky_navigation)/launch/move_base.launch">
    <arg name="no_static_map" value="true"/>
  </include>
  
  <!-- Run visualizer -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kuri_mbzirc_challenge_2)/rviz/kinect.rviz"/>
  
</launch>
